.dialog-header h4{
    color: #260944;
    font-weight: 700;
    font-family: monospace !important;
    margin-top: 0;
    font-size: 22px;
    align-self: center !important;
    margin-bottom: 0%;
}
.dialog-header .button{
    transition: .5s;
    font-size: 18px!important;
    cursor: pointer;
    line-height: 1;
}
.mat-mdc-form-field{
    width: 100%;
}

.input-File{
    background-color: transparent;
}

.dialog-header{
    background: #F7F8F7;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}
.buttons{
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px!important;
    padding: 20px;
    min-width: fit-content;
    background-color: #edeff5;
}
.save{
    color: rgb(91, 231, 91) !important;
    background-color: green !important;
    
}
.edit-label{
    color: #260944;
    margin-bottom: 10px;
    font-weight: 600!important;
}

.input-control {
    outline: 0;
    width: 100%;
    height: 55px;
    display: block;
    box-shadow: unset;
    border-radius: 10px;
    color: #260944;
    font-size: 15px;
    border: 1px solid #B1B5C3;
    transition: .5s;
    padding-left: 20px;
    padding-right: 20px
}

.input-control::placeholder {
    color: #a9a9c8;
    transition: .5s
}
.input-control:hover{
    border-color: rgb(116, 133, 133);
}

.input-control:focus {
    border-color: rgb(6, 245, 245);
    border-width: 2px;
}

.input-control:focus::placeholder {
    color: transparent
}

.input-control[type=file] {
    line-height: 55px
}
.form-grp{
    margin-bottom: 25px;
}

// // Change Mat-Input Border Color & Width
// ::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading,
// ::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__notch,
// ::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
//    border-color: #B1B5C3;
// }
// // Hover To Change Outline Color Same as Border Color in Mat-Input
// ::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__leading,
// ::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__notch,
// ::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__trailing {
//     border-color: rgb(116, 133, 133);
    
// }

// // Hover To Change Outline Color Same as Border Color in Mat-Input
// ::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__leading,
// ::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__notch,
// ::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__trailing {
    
//     border-color: rgb(6, 245, 245);
// }


//Border Radius in Angular Material
::ng-deep .mat-form-field-appearance-outline .mdc-notched-outline__leading
{
    border-radius: 20px 0 0 20px !important;
}
::ng-deep .mat-form-field-appearance-outline .mdc-notched-outline__trailing  {
    border-radius: 0 15px 15px 0 !important;
}
