<mat-card>

  <mat-card-header>
      
    <mat-card-title>Products</mat-card-title>
    <div style="align-items: center;display: flex;flex-wrap: wrap;" >
      <app-input icon="search"  placeHolder="search here...." (keyUpEvent)="applyFilter($event)"  #test > </app-input>
      <app-button text="Create New" (btnClick)="openDialogCreate()" color="primary" prefixIcon="add" ></app-button>
    </div>

  </mat-card-header>

  <div *ngIf="isTrue() ; else noData">
  <mat-card-content  class="mat-card-content" >
  
    <table 
    mat-table 
    matSort 
    color="primary" 
    matSortActive="name"
    matSortDirection="asc"
    [dataSource]="dataSource" 
    style="min-width: 100%;" 
    (matSortChange)="announceSortChange($event)">
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- ProductId Column -->
      <ng-container matColumnDef="productId">
        <th mat-header-cell mat-sort-header sortActionDescription="Sort by number"  *matHeaderCellDef> productId </th>
        <td mat-cell *matCellDef="let element"> {{element.productId}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element">
          
            <mat-card-header style="justify-content: unset !important;">
              <img mat-card-avatar alt="" [src]="element.imageUrl" style="margin-bottom: 0 !important; width: 48px; height: 48px; border-radius: 10px;margin-top: 7px;margin-bottom: 7px;">
              <mat-card-title style="padding-left:15px !important;">{{element.name}}</mat-card-title>
            </mat-card-header>
          
          </td>
      </ng-container>

      <!-- description Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> description </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>

      <!-- ImageUrl Column -->
      <ng-container matColumnDef="imageUrl">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> imageUrl </th>
        <td mat-cell *matCellDef="let element"> 
          <img class="image" [src]="element.imageUrl" alt=""> 
        </td>
      </ng-container>

      <!-- CreationDate Column -->
      <ng-container matColumnDef="lastUpdate">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> lastUpdate </th>
        <td mat-cell *matCellDef="let element"> {{element.lastUpdate | date:'dd/MM/yyyy'}} </td>
      </ng-container>

      <!-- productCategory Column -->
      <ng-container matColumnDef="category.categoryName">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Product Category </th>
        <td mat-cell *matCellDef="let element"> {{element.category.categoryName}} </td>
      </ng-container>
    
      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef > Action </th>
        <td mat-cell *matCellDef="let element"> 
          <div style="display: flex;flex-wrap: nowrap;">
            <button mat-icon-button color="primary" (click)="openDialogEdit(element)" >
              <mat-icon>edit</mat-icon>
            </button>
            <button  mat-icon-button color="warn" (click)="deleteProduct(element.productId)">
                <mat-icon>delete</mat-icon>
            </button> 
            
          </div>
        </td>
      </ng-container>

      <tr  mat-header-row style="background-color: #f7faff;font-weight: 600;" *matHeaderRowDef="displayedColumns"  ></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter {{this.filterValue}} </td>
      </tr>
      

    </table>
    <mat-paginator 
                 class="mat-elevation-z8"
                 [length]="productNum"
                 [pageSizeOptions]="[3, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
      </mat-paginator>

  </mat-card-content>
</div>

  <ng-template #noData  > 
    <div style="display: flex;justify-content: center;align-items: center;flex-direction: column;">
      <img src="../../../assets/icons/empty.svg" style="width: 250px;" alt="Logo">
      <h2>No Products Founds </h2>
      <h3>Create Products from here</h3>
    </div>
  </ng-template>
</mat-card>
