.header {
   width:calc(100% - 5rem);
   margin-left: 5rem;
 
   position: fixed;
   z-index: 1;
   padding: 0rem 1.5rem 0rem 1rem;
   top:0;
   transition: all 0.5s ease;
   

}
.head-content {
    background: #fff; 
    border-radius: 0 0px 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;  
    padding:  1rem 1.563rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}
.search-container {
    position:relative;
    transition: all .5s ease;
}
.search {
  border: none;
  height: 2.375rem;
  padding-left: 2.5rem;
  padding-right: 1.25rem;
  background-color: #f3f3f9;
  box-shadow: none;
  border-radius: 1.875rem;
  outline: none;
}
.search::placeholder {
    color: gray;  
    font-size: 15px;
    
    opacity: 1;    
    transition: opacity 0.5s;
}
.search.hide-placeholder::placeholder {
    opacity: 0;
}

.search-icon {
    position: absolute;
    font-size: 1rem;
    line-height: 2.375rem;
    left: 0.813rem;
    top: 0;
    color:#757fef;
}
.head-content-right {
    display: flex;
    align-items: center;
    justify-content: center;
}
.head-content-right .head-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1.25rem;
}
.head-content-right .head-menu .head-menu-item .head-menu-item-btn {
  position: relative;  
  font-size: 18px;
  height: 42px;
  width: 42px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 50%;
  margin-left: 13px;
  outline: 0;
  
}
.head-content-right .head-menu .head-menu-item .head-menu-item-btn .flag {
    position: absolute;
    top: 25%;
    left: 25%;
    height: 20px;
    border-radius: 50%;
    width: 20px;
    
}
.head-menu-item-btn:hover,
.head-menu-item-btn:focus {
   background-color: #e3e3e9;
}
.head-menu-item-btn .circle-indicator {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    position: absolute;
    background-color: #757fef;
    top: 9px;
    right: 11px;
    &.pulse {
        animation: pulse-animation 1.2s infinite;
    }
}
.head-user-avatar-container {
    display: flex;
    align-items: center;
   
    cursor: pointer;
    margin-left: 13px;
    border-radius: 5px;
    padding: 2px  5px;
}
.head-user-avatar-container .image-admin { 
  position: relative;  
  height: 40px;
  width: 40px;
  border-radius: 50%;
  outline: 0;
 

}
.head-user-avatar-container .user-avatar {
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;

}

// .head-user-avatar-container .admin-info {
//     position: relative;
    
//     bottom: -5px;
//    display: flex;
// flex-direction: column;
   
   
//    margin-left: 8px;
//    font-size: 14px;
// }
// .head-user-avatar-container .admin-info .admin {
//     color: #757fef;
    
// }

.head-user-avatar-container:focus {
    background-color: #e3e3e9 !important;
 }
.active {
    background-color:#f3f3f9;
    transition: all 0.12s ease;
}
// .Active {
//     background-color:#f3f3f9;
// }

.head-trimmed {
    width: calc(100% - 16.5625rem);
    margin-left: 16.5625rem;
}

.head-md-screen {
    width:calc(100% - 5rem);
    margin-left: 5rem; 
}

.overlay-language {
    margin-top:5px ;
    padding: 0.5rem 0;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
}
.overlay-language ul {
   list-style: none;
   width: 8rem;
}
.overlay-language ul li {
    display: flex;
    padding: 0.35rem 0.8rem;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}
.overlay-language ul li:hover {
    background-color: #f3f3f9;
    transition: all 0.3s ease-in-out;
}
.overlay-language ul li img {
    margin-right: 0.6rem;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.overlay-admin {
    position: relative;
    left: 20px;
    margin-top:10px ;
    padding: 0.5rem 0;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
}
.overlay-admin ul {
    list-style: none;
    width: 10rem;
 }

 .overlay-admin ul li {
    display: flex;
    padding: 0.35rem 0rem;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}

.logout a{
    text-decoration: none;
    color:#757fef;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 400;

    border: #757fef solid 1px;
    margin-top: 8px;
    padding: 5px 10px ; 
    border-radius: 10px;
    width: 130px;
    margin-left: 15px;
   
}

.logout a:hover {
   background-color: #757fef;
    color: #fff;
}

.overlay-admin ul li:hover {
    background-color: #f3f3f9;
    transition: all 0.3s ease-in-out;
}
.overlay-admin ul li a {
    text-decoration: none;
}
.overlay-admin ul li a i {
    margin-left: 1rem;
    margin-right: 0.5rem;
    font-size: 15px;
    height: 20px;
    width: 20px;
    font-weight: 400;
    border-radius: 50%;
    color: rgb(70, 65, 65);
}
.overlay-admin ul li a span {
    color: rgb(70, 65, 65);
    font-size: 15px;
}
.overlay-fall {
    animation: fall 300ms ease-in-out forwards;
    transform-origin:top;
}

.hide-element {
    display: none;
}

@keyframes fall {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}
@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0 rgba(26,104,206,0.6);
    }
    100% {
        box-shadow: 0 0 0 13px rgba(17,64,126,0);
    }
}

@media (max-width: 870px) {
    .head-content {
        display: flex;
        flex-direction: column;
        // align-items: flex-start;
       
    }

      .head-content-right{
        order: -1;
      }
      .head-content-right {
        margin-bottom: 20px; 
      }
      
}