<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Modernize Free</title>
  <link rel="shortcut icon" type="image/png" href="../../../assets/images/logos/favicon.png" />
  <link rel="stylesheet" href="../../../assets/css/styles.min.css"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body  >
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <div
      class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center w-50">
        <div class="row justify-content-center w-100">
          <div class="col-md-8 col-lg-6 col-xxl-3">
            <div class="card mb-0">
              <div class="card-body">
                <a href="./index.html" class="text-nowrap logo-img text-center d-block py-3 w-100">
                  <img src="../assets/images/logos/dark-logo.svg" width="180" alt="">
                </a>
                <p class="text-center">Your Social Campaigns</p>
                <form name="form" [formGroup]="signupForm" #f="ngForm">
                  <div class="mb-3">
                    <label for="exampleInputtext1" class="form-label">Full name</label>
                    <input type="text"
                           class="form-control" 
                           id="exampleInputtext2" 
                           aria-describedby="textHelp"
                           formControlName="fullName"
                           >
                    <span *ngIf="(isEmpty && signupForm.get('fullName')?.hasError('required')) || (signupForm.get('fullName')?.hasError('required') && signupForm.get('fullName')?.touched)">This field is required</span>
                    <span *ngIf="signupForm.get('fullName')?.hasError('invalidName') && signupForm.get('fullName')?.touched  && signupForm.get('fullName')?.value">Full name invalid.</span>
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputtext1" class="form-label">Username</label>
                    <input type="text"
                           class="form-control" 
                           id="exampleInputtext1" 
                           aria-describedby="textHelp"
                           formControlName="username">
                    <span *ngIf="(isEmpty && signupForm.get('username')?.hasError('required')) || (!signupForm.get('username')?.valid && signupForm.get('username')?.touched)">This field is required</span>
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email Address</label>
                    <input type="email" 
                           class="form-control" 
                           id="exampleInputEmail1" 
                           aria-describedby="emailHelp"
                           formControlName="email">
                           <span *ngIf="(isEmpty && signupForm.get('email')?.hasError('required')) || (signupForm.get('email')?.hasError('required') && signupForm.get('email')?.touched)">This field is required</span>
                           <span *ngIf="!signupForm.get('email')?.valid && signupForm.get('email')?.touched && signupForm.get('email')?.value">Invalid Email</span>
                  </div>
                 
                  <div class="mb-4">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password"
                           class="form-control"
                           id="exampleInputPassword1"
                           formControlName="password">
                           <span *ngIf="(isEmpty && signupForm.get('password')?.hasError('required')) || (signupForm.get('password')?.hasError('required') && signupForm.get('password')?.touched)">this field is required</span> 
                           <span *ngIf="!signupForm.get('password')?.valid && signupForm.get('password')?.touched  && signupForm.get('password')?.value">Password invalid.</span>
                  </div>
                  <div class="mb-4">
                    <label for="exampleInputPassword2" class="form-label">Confirm password</label>
                    <input type="password"
                           class="form-control" 
                           id="exampleInputPassword2"
                           formControlName="confirmPassword">
                    <span *ngIf="(isEmpty && signupForm.get('confirmPassword')?.hasError('required')) || (signupForm.get('confirmPassword')?.hasError('required') && signupForm.get('confirmPassword')?.touched)">this field is required</span> 
                    <span *ngIf="signupForm.get('confirmPassword')?.hasError('passwordsMismatch') && signupForm.get('confirmPassword')?.touched  && signupForm.get('confirmPassword')?.value">Passwords do not match.</span> 
                  </div>
                  <button  type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2" (click)="onSubmit(f.value)">Sign Up</button>
                  <div class="d-flex align-items-center justify-content-center">
                    <p class="fs-4 mb-0 fw-bold">Already have an Account?</p>
                    <a class="text-primary fw-bold ms-2" [routerLink]="['/login']">Sign In</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="../../../assets/libs/jquery/dist/jquery.min.js"></script>
  <script src="../../../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
