
.mat-mdc-header-cell {
    position: relative;
    border: none;
}
.image{
    width: 48px;
    margin-right: 12px;
    border-radius: 10px;
}
.mat-card-content{
    overflow-x: auto;
}

#search{
    margin-right: 15px;
}
::ng-deep .mat-mdc-form-field-subscript-wrapper {
    display: none !important;
}
  
.mat-mdc-header-cell::after {
    // content: '';
    // height: 70%; //You can change this if you want smaller/bigger borders
    // width: 2px;
    
    // position: absolute;
    // right: 0;
    // top: 50%; // If you want to set a smaller height and center it, change this value
    
    // background-color: #1e38cc; // The color of your border

    top: 35%;
    right: 0;
    width: 1px;
    content: "";
    height: 30%;
    position: absolute;
    background-color: #cfd4df;
}

.mat-mdc-card{
    border-radius: 10px ;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px !important;  
    display: block!important;
    border: none!important;
    padding: 25px;
    
}

.mat-mdc-card-header{
    padding: 0;
    align-items: center !important;
    justify-content: space-between;
}


.mat-mdc-card-content{
    padding: 0;
}
.mat-card-title{
    margin: 0;
    padding: 0;
}


.overlay-language {
    margin-top:-10px ;
    padding: 0.5rem 0;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
}

.overlay-language ul {
   list-style: none;
   width: 8rem;
}

.overlay-language ul li {
    display: flex;
    padding: 0.35rem 0.8rem;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}

.overlay-language ul li:hover {
    background-color: #f3f3f9;
    transition: all 0.3s ease-in-out;
}

.overlay-fall {
    animation: fall 300ms ease-in-out forwards;
    transform-origin:top;
}

@keyframes fall {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}