<div class="edit-dialog">
    <div class="dialog-header">
        <h4>{{data.title}}</h4>
        <button mat-icon-button mat-dialog-close> <mat-icon>close</mat-icon> </button>
    </div>

    <form [formGroup]="empForm"  style="display: flex;flex-direction: column; padding: 25px;">
       
        <label class="edit-label">name of category</label>
        <mat-form-field appearance="outline" >
            <input matInput formControlName="categoryName" type="text" placeholder="enter a Name" >
        </mat-form-field>
        
        <div  style="display: flex;justify-content: space-around;">
        <button class="buttons" mat-stroked-button mat-dialog-close  color="warn"> Cancel <mat-icon>close</mat-icon></button>
        <button mat-flat-button class="save buttons" (click)="onSubmit()"  > {{data.actionButtonText === "Create" ? "Save" : "Update"}} <mat-icon>{{data.actionButtonText === "Create" ? "add" : "edit"}}</mat-icon></button>
        
        </div>

    </form>
</div>
        
        

